body {
      margin: 0;
      background: #000; 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* tam ekran */
    }

canvas {
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* çerçeve efekti */
}